html {
    font-size: 18px;
}

body {
    font-family: "Roboto";
    color: #023047;
}

h1 {
    font-size: 2.667rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.111rem;
}

h4 {
    font-size: 0.8333rem;
}

h5 {
    font-size: 2.667rem;
    /* 48px*/
}

h6 {
    font-size: 1.333rem;
    /* 24px */
}

.h6 {
    font-weight: 500;
}

.text_24 {
    font-size: 1.333rem;
}

.text_48 {
    font-size: 2.667rem;
}

.weight500 {
    font-weight: 500;
}

.no_decoration {
    text-decoration: none;
}

.hover_white a,
.hover_white a:active,
.hover_white a:hover,
.hover_white a:focus {
    color: white;
    font-size: 24px;
    text-transform: none;
}

.section_h2 {
    text-transform: uppercase;
    color: #023047;
    text-align: center;
    font-weight: 500;
}

.section_h3 {
    font-size: 20px;
    font-weight: 400;
    margin: 0 0 20px 0;
}

.articles_title_h3 {
    font-size: 20px;
    font-weight: 500;
    margin: 20px 0 20px;
}

.articles_title_h2,
.articles_title_h3 {
    text-align: center;
    text-transform: uppercase;
    margin: 20px 0 20px;
}

.uppercase {
    text-transform: uppercase;
}

.white_text {
    color: #fff;
    margin-top: 0;
}

.orange {
    background-color: #FB8500;
}

.orange_font {
    color: orange;
    font-weight: 400;
}

.honey_yellow {
    background-color: #FFB703;
}

.blue_green {
    background-color: #C4C4C4;
}

.prussian_blue {
    background-color: #023047;
    margin: 0;
}

.cornflower_blue {
    background-color: #8ECAE6;
}

.grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 20px;
}


/* ***START HEADER & NAVIGATION BAR*** */

.header {
    display: grid;
    grid-column: 1/7;
    grid-template-columns: repeat(2, 1fr);
    background-color: #023047;
    color: white;
    place-items: center;
}

.logo {
    grid-column: 1/3;
    padding-left: 40px;
    font-weight: 500;
}

.dropbtn {
    background-color: #023047;
    color: white;
    padding: 5px;
    font-size: 20px;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
}

#nav menu>li {
    display: inline-block;
    padding: 18px 25px 0 0;
}

#nav menu>.dropdown {
    padding: 0 0 0 0;
}

#nav {
    grid-column: 3/7;
}

#nav menu {
    padding: 0;
}

#nav menu>li>ul>li {
    list-style-type: none;
}

#nav menu>li>a:active,
#nav menu>li>a:focus,
#nav menu>li>a:hover {
    border-bottom: solid 3px #FB8500;
    padding-bottom: 0;
    font-weight: 400;
}

#nav ul>li>ul {
    display: none;
}

#nav menu>li:hover>ul {
    display: block;
}

#nav li:hover>ul>li {
    float: left;
    padding-right: 0;
}

#nav li:hover>ul>li>a {
    display: block;
}

#nav li>ul {
    position: absolute;
    padding: 0;
    margin-block-start: 0;
}

#nav menu>li a {
    font-size: 20px;
    text-transform: uppercase;
    color: white;
    text-decoration: none;
    width: 100%;
    font-size: 20px;
    font-weight: 400;
}

.dropdown:hover {
    background-color: #FB8500;
    padding: 5px 0 5px 5px;
}

.dropbtn a {
    font-size: 20px;
    text-transform: uppercase;
    color: white;
    text-decoration: none;
    background-color: #023047;
    border-width: 0;
    padding: 0;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #023047;
    min-width: 163px;
    margin-top: 20px;
}

.dropdown:hover .dropdown-content,
.dropdown-content:hover {
    display: block;
}

.dropdown:hover .dropbtn a {
    border: none;
    padding-top: 10px;
}

.dropdown-content a {
    color: white;
    text-transform: uppercase;
    padding: 10px 15px;
    text-decoration: none;
    display: block;
    list-style-type: none;
}

.dropdown-content li>a:active,
.dropdown-content li>a:focus,
.dropdown-content li>a:hover {
    background-color: #FB8500;
    color: white;
    font-size: 20px;
    font-weight: 400;
    padding: 5px 0 5px 2px;
}

.dropdown-content li:active,
.dropdown-content li:focus,
.dropdown-content li:hover {
    width: 100%;
}


/* ***END HEADER & NAVIGATION BAR*** */


/* SLIDER */

.slider {
    grid-column: 1/7;
    min-height: 496px;
    background: url("../images_et_icones/slider.jpg") no-repeat;
    text-align: center;
}

.slider h2 {
    font-size: 72px;
}

.slider h3 {
    font-size: 36px;
}


/* END SLIDER */


/* START FONDATEUR & VIE AU BUREAU */

.halves {
    margin: 20px 0 20px 0;
    grid-column: auto/span 3;
    border-radius: 5px;
    padding-bottom: 20px;
}

.halves h2 {
    text-transform: uppercase;
    text-align: center;
    margin: 20px 0 20px 0;
}

.halves p {
    font-size: 16px;
    text-align: justify;
    margin: 10px;
    line-height: 2em;
}

.halves a,
.halves a:hover {
    font-size: 18px;
    font-weight: bold;
    color: #000;
    margin: 10px;
    text-decoration: underline;
    text-transform: inherit;
}

.lire {
    padding-left: 325px;
}


/* END FONDATEUR & VIE AU BUREAU */


/*  ACTUALITÉ  */

.actualite {
    display: grid;
    grid-column: 1/7;
    grid-template-columns: repeat(4, 1fr);
    /* grid-template-rows: repeat(8, auto); */
    gap: 10px;
    background-color: #023047;
    padding: 0 0 20px 0;
}

.actualite_title {
    grid-column: 1/5;
    color: #FFF;
    margin: 20px 0 20px 0;
}

.aside {
    background-color: #FFF;
    margin: 0;
    border-radius: 10px;
}

.aside_img {
    width: 100%;
    display: block;
    max-width: 100%;
    box-sizing: border-box;
    border-radius: 10px 10px 0 0;
}

.aside_short_img {
    height: auto;
}

.aside_long_img {
    height: auto;
}

.aside h2 {
    font-weight: 500;
    font-size: 24px;
    padding: 15px 15px 0 15px;
    margin: 0;
}

.aside p {
    color: #023047;
    font-size: 12px;
    padding: 15px;
    margin: 0;
}

.aside a,
.aside a:hover {
    color: #023047;
    font-size: 12px;
    padding: 15px;
    margin: 0;
}

.actualite_profil {
    margin: 20px 10px 20px 10px;
    display: grid;
    grid-template-columns: 20% 1fr 1fr;
    place-items: center;
}

.actualite_profil img {
    width: 100%;
}

.actualite_profil h3 {
    font-size: 12px;
    font-weight: bold;
}

.actualite_profil time {
    font-size: 10px;
    color: #AFAFAF;
}


/* END ACTUALITÉS  */


/* SERVICES  */

.services {
    display: grid;
    grid-column: 1/7;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 20px;
}

.articles_title_h2 {
    grid-column: 1/5;
    margin: 20px 0 20px 0;
}

.service_item {
    display: grid;
    grid-template-columns: 20% 60% 20%;
    grid-template-rows: 100px 60px;
    background-color: #C4C4C4;
    padding: 50px 0 20px 0;
}

.service_item img {
    grid-column: 2 / -2;
    height: 100px;
    justify-self: center;
    padding-bottom: 0;
    align-self: center;
}

.service_item p {
    font-size: 14px;
    grid-column: 1/4;
    margin-top: 0;
    text-transform: uppercase;
    margin: 12px 12px;
    text-align: center;
    align-self: center;
}


/* END SERVICES  */


/* SOUMISSION */

.soumission {
    grid-column: 1/7;
    text-align: center;
    padding: 0 0 20px 0;
}

.bouton {
    background-color: #FB8500;
    border: none;
    border-radius: 5px;
    height: 75px;
    width: 550px;
    text-transform: uppercase;
    font-size: 24px;
    color: white;
}


/* END SOUMISSION  */


/* STATES  */

.states {
    display: grid;
    grid-column: 1/7;
    grid-template-columns: repeat(3, 1fr);
    background-color: #FFB703;
    align-items: center;
    justify-items: center;
}

.state_img {
    width: 100%;
    margin: 20px 0 0 0;
}

.states h4 {
    text-transform: uppercase;
    margin: 10px 0 20px 0;
}


/*  END STATES  */


/*  TÉMOIGNAGES  */

.temoignage {
    display: grid;
    /* grid-column: 1/7; */
    grid-template-columns: repeat(3, 1fr);
    column-gap: 20px;
}

.temoignage_title,
.temoignage_sous_title {
    grid-column: 1/4;
    text-align: center;
}

.temoignage_item {
    background-color: #8ECAE6;
}

.temoignage_item>p,
.temoignage_item>h4 {
    text-align: center;
    font-size: 18px;
    padding: 0 20px;
}

.temoignage_item>p {
    font-style: italic;
}

.temoignage_item>h4 {
    font-weight: bold;
}


/*  END TÉMOIGNAGES  */


/*  CLIENTS  */

.clients {
    display: grid;
    grid-column: 1/7;
    grid-template-columns: repeat(6, 1fr);
    column-gap: 0px;
}

.client_title {
    grid-column: 1/7;
}

.clients_items {
    width: 100%;
    padding-bottom: 10px;
}


/*  END CLIENTS  */


/************************  PAGE SERVICES ET RÉALISATION ****************************/


/* PAGE SERVICES/RÉALISATIONS */

.two_column {
    display: grid;
    grid-column: 1/7;
    grid-template-columns: repeat(2, 1fr);
}

.intro_left h2,
.intro_right h2 {
    font-size: 24px;
    font-weight: 600;
}

.intro_left {
    margin: 20px 50px 20px 50px;
}

.intro_left h2 {
    text-align: left;
}

.intro_right h2 {
    text-align: right;
}

.intro_left p {
    width: 566px;
    text-align: justify;
    font-size: 24px;
    padding-bottom: 25px;
    line-height: 35, 33px;
}

.intro_img {
    width: 350px;
    grid-column: span auto;
    justify-self: center;
}

.technologie_section {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    gap: 0;
    justify-items: center;
}

.technologie {
    grid-column: 3 / -3;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 0;
    margin: 0;
    padding: 0;
}

.realisation_image {
    width: 350px;
    grid-column: span auto;
    justify-self: center;
}

hr {
    width: 195px;
    height: 3px;
}


/* *******PAGE SERVICES - ARTICLES */

.white {
    display: grid;
    grid-template-rows: 20% 20% 60%;
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    margin: 0 10px;
}

.white img {
    height: 100px;
    justify-self: center;
    padding-bottom: 0;
    align-self: center;
}

.white a,
.white a:active,
.white a:hover,
.white a:focus {
    color: #000;
    padding: 30px 0;
    font-size: 20px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
    text-align: center;
}

.white p {
    margin-top: 0;
    line-height: 24px;
}

.three_column {
    display: grid;
    grid-column: 1/7;
    grid-template-columns: repeat(3, 1fr);
    padding: 50px;
    row-gap: 20px;
    font-style: normal;
}

.center {
    place-items: center;
    text-align: center;
}

.justify {
    text-align: justify;
}

.pad_200 {
    padding: 0 150px 0 150px;
}

.img50 {
    height: 80px;
}

.white_text>span {
    color: #FB8500;
    padding-top: 25px;
}

.pad25px {
    padding: 25px 0 25px 0;
    margin: 0;
}

.pad45px {
    padding: 45px 0 45px 0;
}

.pad75px {
    padding: 75px 0 75px 0;
}

.center_top {
    place-items: top;
    text-align: center;
}


/* ******PAGE SERVICES - END ARTICLES */


/* *****PAGE CONTACT**** */

.input {
    border: 2px solid #FB8500;
    width: auto;
    height: 85px;
    color: black;
    text-transform: uppercase;
    padding-left: 20px;
}

.input_area {
    width: 97.5%;
    height: auto;
    padding-top: 20px;
}


/* *****END PAGE CONTACT**** */

form {
    display: grid;
    grid-template-areas: "prenom nom" "courriel telephone" "choix choix" "textarea textarea" "submit submit";
    grid-template-columns: auto auto;
    grid-gap: 100px 20px;
}

#prenom {
    grid-area: prenom;
}

#nom {
    grid-area: nom;
}

#courriel {
    grid-area: courriel;
}

#telephone {
    grid-area: telephone;
}

#choix {
    grid-area: choix;
    width: 100%;
    justify-self: center;
}

#textarea {
    grid-area: textarea;
}

#submit {
    grid-area: submit;
    justify-self: center;
}


/* END CONTACT */


/* PAGE RÉALISATIONS */

.realisation {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    background-color: #023047;
    gap: 20px;
}

.realitation_title,
.realisation_menu {
    place-items: center;
    text-align: center;
    grid-column: 1/5;
}

.realisation h2 {
    color: #FFF;
    padding: 20px 0 0 0;
    margin: 0;
}

.realisation ul {
    padding: 0;
    margin: 0;
}

.realisation ul>li {
    display: inline-block;
    padding: 0 10px;
}

.realisation ul>li>a {
    font-size: 20px;
    text-transform: uppercase;
    color: white;
    text-decoration: none;
}

.realisation_item {
    position: relative;
    width: 100%;
}

.last_item {
    margin-bottom: 20px;
}

.realisation_item img {
    display: block;
    width: 100%;
    height: auto;
}

.realisation_animate {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #FFB703;
}

.realisation_item:hover .realisation_animate {
    opacity: 1;
}

.realisation_animate a,
.realisation_animate a:hover {
    text-transform: uppercase;
    display: block;
    text-decoration: none;
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

.realisation ul>li>a:active,
.realisation ul>li>a:focus,
.realisation ul>li>a:hover {
    border-bottom: solid 3px #FB8500;
}

.margin_bottom_50 {
    margin-bottom: 50px;
}


/* START FOOTER  */

footer {
    background: url("../images_et_icones/footer_background.jpg") no-repeat;
    background-color: #023047;
    background-size: 100%;
    color: white;
}

.footer {
    display: grid;
    grid-column: 1/7;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, auto);
}

.footer h2 {
    text-transform: uppercase;
    font-weight: normal;
    font-size: 24px;
    padding: 0 0 30px 0;
    margin: 0;
}


/* WEB LINKS IN FOOTER */

.links {
    grid-row: 1/span 2;
}

.links,
.footer_web_links {
    grid-row: 1/span 2;
}

.first_ligne {
    margin-top: 45px;
}

.first_ligne2 {
    margin-top: 40px;
}

.links ul>li {
    display: block;
}

.links_pad {
    padding: 0 0 20px 0;
}

.links ul>li>a,
a:active,
a:hover,
a:focus {
    font-weight: normal;
    color: #FFF;
    font-size: 20px;
    text-transform: uppercase;
    text-decoration: none;
}


/* END WEB LINKS IN FOOTER */


/* TWEETS  AND CONTACT COMMUN IN FOOTER*/

.tweets,
.footer_tweets,
.contact,
.footer_contact {
    display: grid;
    grid-template-columns: auto 1fr 1fr;
    grid-gap: 10px;
}

.tweets,
.footer_tweets {
    grid-row: 1/span 2;
}

.contact,
.footer_contact {
    grid-row: 1/2;
}

.tweets_title,
.contact_title {
    grid-column: 1/4;
}

.tweets ul,
.contact ul,
.media ul {
    list-style: none;
    padding: 0;
}

/* .tweets ul>li, */
.contact ul>li {
    margin-left: 0;
    padding-left: 0;
}


/* END TWEETS  AND CONTACT COMMUN IN FOOTER*/


/* TWEETS  ONLY IN FOOTER*/

.tweets_icon {
    background-image: url(../images_et_icones/icones/icon_tweets.png);
    background-repeat: no-repeat;
    width: 50px;
}

.tweets_item {
    padding: 0 0 20px 0;
    grid-column: 2/4;
}

.tweets_item>p {
    margin: 0;
    font-size: 14px;
    padding: 0 0 0 5px;
}

span {
    font-weight: bold;
}


/* END TWEETS  ONLY IN FOOTER*/


/* CONTACT  ONLY IN FOOTER*/

.contact_item {
    padding: 0;
    grid-column: 2/4;
}

.contact_item>p {
    margin: 0;
}

.footer_contact>img {
    padding: 10px 0 0 0;
    margin: 0;
}


/* END CONTACT  ONLY IN FOOTER*/


/* SOCIAL MEDIA IN FOOTER*/

.media,
.footer_social_media {
    display: grid;
    grid-row: 2/3;
    grid-template-columns: repeat(6, 1fr);
}

.footer_social_media_title {
    grid-column: 1/7;
}


/* END SOCIAL MEDIA IN FOOTER*/


/* COPYRIGHT IN FOOTER */

.copyright {
    grid-column: 1/7;
    background-color: #023047;
}

.copyright>p {
    color: #FFF;
    text-align: center;
    padding: 30px;
    font-size: 12px;
    margin: 0;
}


/* END COPYRIGHT IN FOOTER*/


/* SCROLL TO TOP */

#scroll_to_top {
    position: fixed;
    width: 25px;
    height: 25px;
    bottom: 50px;
    right: 50px;
}

#scroll_to_top img {
    width: 50px;
}


/* END SCROLL TO TOP */


/**** END FOOTER *********/


/* END PAGE RÉALISATIONS */

@media screen and (min-width: 901px) {
    .wrapper {
        width: 1024px;
        margin: 0 auto;
    }
    .bloc {
        padding: 0 20px 20px 20px;
    }
    .two_column_white {
        display: grid;
        grid-column: 1/7;
        grid-template-columns: repeat(2, 1fr);
    }

}

@media (max-width: 900px) {
    html {
        font-size: 12px;
        /*12px*/
    }
    .header {
        grid-template-columns: 1fr;
    }
    #nav {
        grid-column: 1/7;
    }
    .halves {
        grid-column: 1/7;
        width: 100%;
    }
    .aside {
        grid-column: 1/5;
        margin: 10px 20px;
    }
    /* ACTUALITÉ MÉDIA QUERY */
    .actualite_profil {
        display: grid;
        grid-template-columns: 50px 100px 100px 1fr 1fr 1fr;
        padding: 0;
    }
    .services {
        gap: 10px;
    }
    .medialeft {
        grid-column: 2/3;
    }
    .mediaright {
        grid-column: 3/4;
    }
    .temoignage_item {
        grid-column: 1/4;
        margin: 10px 20px;
    }
    /* RÉALISATIONS PAGE */
    .two_column {
        grid-template-columns: 1fr;
    }
    .two_column_white {
        display: grid;
        grid-column: 1/7;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
        justify-self: center;
    }
    .two_column_white .pad_200 {
        padding: 0;
    }
    .two_column_white p,
    .three_column .white p {
        font-size: 1.167rem;
        /*12px*/
    }
    .intro_left h2 {
        text-align: center;
    }
    .intro_left p {
        width: auto;
        padding-bottom: 10px;
    }
    .realisation_item {
        grid-column: auto / span 2;
    }
    .articles_title_h2,
    .articles_title_h3 {
        padding: 0 20px;
    }
    .technologie_section {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 0;
    }
    .technologie {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 0;
        grid-column: 2 / 3;
    }
    /* END RÉALISATIONS PAGE */
    .three_column {
        gap: 10px;
    }
    
    .three_column a,
    .query_14_p {
        font-size: 1.083rem;
        /*14px*/
    }
    form {
        padding: 0 50px;
    }
    .wrapper_margin_p {
        margin: 0 50px;
    }
    .contact,
    .footer_contact {
        height: 10px;
    }
    .lire {
        padding-left: 0;
    }

}